<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <servlet-name>CreateItemController</servlet-name>
    <servlet-class>no.hib.dat152.controller.CreateItemController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateItemController</servlet-name>
    <servlet-class>no.hib.dat152.controller.UpdateItemController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewItemController</servlet-name>
    <servlet-class>no.hib.dat152.controller.ViewItemController</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ViewShoppinglistController</servlet-name>
    <servlet-class>no.hib.dat152.controller.ViewShoppinglistController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateItemController</servlet-name>
    <url-pattern>/createitem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateItemController</servlet-name>
    <url-pattern>/updateitem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewItemController</servlet-name>
    <url-pattern>/viewitem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ViewShoppinglistController</servlet-name>
    <url-pattern>/viewshoppinglist</url-pattern>
  </servlet-mapping>
</web-app>